<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../loginPage.css">
        <title>City-Energy</title>
        <link rel="icon" href="../Logo.png">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<div id="loginPage">
    <div style="margin-bottom: 30px; margin-top: 20px;" class="flex-center">
        <img src="../Logo.png" alt="City power logo" width="200" height="200">
        
    </div>
    <div class="flex-center login-box">
        <div class="login-box-child">
            <div class="input-struct">
                <label class="ft-quick">Username:</label>
                <input type="text" id="username" name="username">
            </div>
        
            <div class="input-struct">
                <label class="ft-quick">Password:</label>
                <input type="text" id="password" name="password">
            </div>
            
            <div class="login-box-btns">
                <button class="login-btn ft-roboto-cd" type="button" id="login">Login</button> 
                <button class="register-btn ft-roboto-cd" type="button" id="ShowRegister">Register</button>
            </div>
            
        </div>
    </div>
</div>

<div  id="registrationPage">
    <div style="margin-bottom: 30px; margin-top: 20px;" class="flex-center">
        <img src="../Logo.png" alt="City power logo" width="200" height="200">
        
    </div>
    <div class="flex-center login-box">
         <div class="login-box-child">
             <div class="input-struct">
                <label class="ft-quick" for="username">Enter Username:</label>
                <input type="text" id="Regusername" name="username"><br>
                <label class="ft-quick" for="password">Enter Password: </label>
                <input type="text" id="Regpassword" name="password"><br>
                <label class="ft-quick" for="email">Enter Email</label>
                <input type="text" id="Regemail" name="email">
            </div>           
            
            <div class="login-box-btns">
                <button class="back-btn ft-roboto-cd" type="button" id="regBackButton">Back</button>
                <button class="register-btn ft-roboto-cd" type="button" id="register">Register</button>
            </div>
            
        </div> 
    </div>

</div>


<div  id="mainPage">
  
        <div class="topnav"  class="flex-center">
            <img src="../Logo.png" alt="City power logo" width="125" height="125">
            
            <div>
                <button  class="navButton" type="button" id="adminButton">Admin Portal</button> 
                <button  class="navButton" type="button" id="logoutButton">Logout</button> 
            </div>
           
        </div>

        <div class="map-btns-box">
            <button  type="button" class=" map-btn ft-roboto-cd" id="DisplayBarGButton">Display Total Energy per Driver</button>
            <button type="button" class=" map-btn ft-roboto-cd" id="DisplayLineGButton">Display Energy vs Time</button>
        </div>

        <div id = "initial-display">
            <label class="buffer flex-center ft-quick"> *EXAMPLE* <br/> Welcome to City Energy! <br/> 
                Please use the navigation buttons above to toggle between Admin page, Login page and Analytics page <br/>
            </label>
        </div>

        <section class="graph-box">
      
        
            <div class="graph-style" id="totalEnergyTab">
                <canvas id="myChart2"></canvas>
            </div>

                <div  id="energyPerSecondTab">
                    <div class="drop-down-box" >
                
                        <label class="ft-quick" for="driver">Enter Driver's Name:  </label>
                        <select id="driver" name="driver"></select>
                       
        
                    </div>
                    <div class="graph-style">
                        <canvas  id="myChart"></canvas>
                        <div class="map-box">
                            <div id="map" class="map"></div>
                        </div> 

                    </div>
                    

                </div>
        </section> 
</div>



<div  id="adminPage">

    <div class="topnav"  class="flex-center">
        <img src="../Logo.png" alt="City power logo" width="125" height="125">
        
        <div>
            <button  class="navButton" type="button" id="adminBackButton">Data Analytics</button>
            <button  class="navButton" type="button" id="logoutButton">Logout</button> 
        </div>
    </div>
       
    <div class="flex-center Admin-box">
        <div class="Admin-box-child">
            <div class="flex-center-row">
                <div class="map-btns-box">
                    <button class="map-btn" type="button" id="accountButton">Account Management</button> 
                    
                    <button class="map-btn" type="button" id="driverButton">Driver Management</button>
                    
                    <button class="map-btn" type="button" id="carButton">Car Management</button> 
                    
                </div>
            </div>
        </div>
    </div>
    <div class="flex-center Admin-box">
        <div class="Admin-box-child">
            
            <div id="accountTab">
                <div id="myGrid" style="height: 400px; width:800px;" class="ag-theme-alpine"></div>
                <button type="button" id="deleteAccount">Delete Account</button> 
                <button type="button" id="setAdminButton">Set Admin Access</button> 
            </div>

            <div id ="driverTab">
                <div id="driverTable" style="height: 400px; width:800px;" class="ag-theme-alpine"></div>
                <button type="button" id="deleteDriverButton">Fire Driver</button>
                <button type="button" id="addDriverButton">Add Driver</button>
                <button type="button" id="editDriverButton">Change Driver Device</button> 

            </div>


    <div id="addDriverTab">
        <label class="ft-quick" for="driverName">Enter Driver Name:</label>
        <input type="text" id="driverName" name="driverName"><br>
        <label class="ft-quick" for="driverCar">Enter Driver Car: </label>
        <select id="driverCar" name="driverCar"></select>
        <label class="ft-quick" for="deviceID">Enter Driver's device ID:</label>
        <input type="text" id="deviceID" name="driverName"><br>
        <button type="button" id="createDriverButton">Create Driver</button> 
    </div>

            <div id="carTab">
                <div id="carTable" style="height: 400px; width:800px;" class="ag-theme-alpine"></div>
                <button type="button" id="deleteCarButton">Retire Car</button>
                <button type="button" id="addCarButton">Add Car</button>

            </div>

    <div id="addCarTab">
        <label class="ft-quick" for="carName">Enter Car Name:</label>
        <input type="text" id="carName" name="carName"><br>
        <label class="ft-quick" for="massCar">Enter Car Mass: </label>
        <input type="text" id="massCar" name="massCar"><br>
        <label class="ft-quick" for="areaCar">Enter Car SurfaceArea: </label>
        <input type="text" id="areaCar" name="areaCar"><br>
        <label class="ft-quick" for="dragCar">Enter Car Drag co-effiecent: </label>
        <input type="text" id="dragCar" name="dragCar"><br>
        <label for="carType">Choose a Fuel Type:</label>
        <select name="carType" id="carType">
          <option value=1>Petrol</option>
          <option value=4>disel</option>
        </select> 
        <button type="button" id="createCarButton">Create Car</button> 
    </div>
</div>




</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARCyDw-O_Lvv2zL37uJF0_igMoycGRIpk&callback=&v=weekly"></script>
<script src="/socket.io/socket.io.js"></script>
<script rel="preload" src="../socketLogic.js" type="module"></script>
<script rel="preload" src="../clientController.js" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
<script src="../mapFunctions.js" type="module"></script>
</html> 