body{
padding: 0;
margin: 0;

}


.logout-btn{
      
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8rem;
    width: 10rem;
}


.login-box-btns {
    display: flex;
    justify-content: space-evenly;
}

.login-box-btns button:hover {
    background-color: #000000;
	 transition: 0.7s;
} 


input[type=text] {
    background-color: #f3f0f0;
    border: 1px solid grey;
    padding: .5rem .3rem;
    border-radius: .4rem;
}

.login-box {
    width: 100%;
}


.login-box-child {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
    border: 1px solid rgb(28,153,65);
    padding: 4rem 4.5rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
}

.login-box-btns button {
    border: none;
    outline: none;
    padding: .5rem .9rem;
    color: rgb(5, 0, 0);
    font-size: 1rem;
    width: 5rem;
    cursor: pointer;
}

.login-box-btns .Admin-btn {
    
    position: absolute;
    top: 0;
    left: 5rem;
    font-size: 1rem;
    width: 10rem;
    
}

.admin-box-btn{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: fit-content;  
}

.Admin-box {
    width: 100%;
}

.Admin-box-child {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width:  fit-content;
}  

.graph-box {
    display: flex;
    justify-content: center;
    width:100%
}
.graph-style{
    margin-top: 15px;
    width:1000px;
}

.drop-down-box {
    display: flex;
    justify-content: space-between;
}

.map-box {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;

}

.map {
    height:400px;
}


.map-btns-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: white;
    top: 125px;
    gap: .7rem;
    padding: 1rem 0;
    width: 100%;
}

.map-btn {
    padding: .3rem 1rem;
    background-color:rgb(28,153,65);
    font-weight: 700;
    color: #FFF;
    border: .5rem rgb(28,153,65);
    cursor: pointer;
    border-radius: .4rem;
}

.map-btn:hover {
    background-color: #ddd;
    color: black;
  }

.get-map-btn {
    padding: .3rem 1rem;
    background-color:rgb(230,245,229);
    font-weight: 700;
    color:black;
    border: .5rem rgb(230,245,229);
    cursor: pointer;
    border-radius: .4rem;
}

.get-map-btn:hover {
    background-color: rgb(81, 81, 81);
    color: black;
  }

.login-box-btns .login-btn {
    background: linear-gradient(to right bottom,
     rgba(28,153,65, 1),
     rgba(28,153,65, .6),
     rgba(28,153,65, .3));
}

.login-box-btns .register-btn {
    background: linear-gradient(to right top,
    rgba(45, 212, 191, .6),
    rgba(45, 212, 191, .8),
    rgba(45, 212, 191, 1));
}

.login-box-btns .back-btn {
    background: linear-gradient(to right bottom,
    rgba(28,153,65, 1),
     rgba(28,153,65, .6),
     rgba(28,153,65, .3));
}


.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.buffer{
    margin-top: 150px;
}

.flex-center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;  
}

.input-struct {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 1rem;
    z-index: 1000;
    overflow: hidden;
    background-color:rgb(230,245,229);
  }
  
  .navButton{
   
    background-color: rgb(64,74,70);
    text-align: center;
    border: 1px rgb(64,74,70);
    border-radius: .4rem;
    padding: .5rem .9rem;
    color:rgb(230,245,229);
    font-size: 1rem;
    width: 10rem;
    cursor: pointer;
    font-size: 15px;
  }
  

  .navButton:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navButton.active {
    background-color: #04AA6D;
    color: white;
  }

  
.ft-quick {
    font-family: 'Quicksand';
    font-weight: bold;
}

.ft-roboto-cd {
    font-family: 'Roboto Condensed', sans-serif;
}

/* .dropbtn {
    background-color: #3f3f3f;
    color: white;
    padding: .6rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
   The container <div> - needed to position the dropdown content 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
   Dropdown Content (Hidden by Default) 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown 
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover 
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover 
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown 
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */

 